@charset "utf-8";
/* 
.carousel-item>img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

#inici{
    position: relative;
}

#flexible{

    height: 50vh;

} */

nav figure img{
    width: 2rem;
    height: 2rem;
}